<div class="form-editing-wrapper">
  <%= form_for @post do |f| %>
    <div>
      <%if @post.errors.any? %>
      <h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving:</h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg%></li>
        <% end %>
      </ul>
      <% end %>

      <%= f.label :title %><br>
      <%= f.text_field :title, :class => 'form-input' %>

      <br>
      <br>

      <div id="dropzone"
           data-test="hello"
           data-form-data="<%= (@s3_direct_post.fields.to_json) %>"
           data-url="<%= @s3_direct_post.url %>"
           data-host="<%= URI.parse(@s3_direct_post.url).host %>" >

        <p id="upload-info">Drop files here <br> or <b>click to upload.</b></p>
        <div id="thumbnails"></div>
      </div>
      <%= f.file_field :images, multiple: true %>

      <br>

      <!-- <%= f.label :content, "Write your article here." %><br> -->
      <div class="nav-wrapper">
        <nav class="tabnav">
          <button type="button" class="tabbutton selected" id="edit-button">
            <i class="fa fa-code" aria-hidden="true"></i>
            Edit File
          </button>
          <button type="button" class="tabbutton" id="preview-button">
            <i class="fa fa-eye" aria-hidden="true"></i>
            Preview changes
          </button>
        </nav>
      </div>
      <div id="textarea-wrapper">
        <%= f.text_area :content, :id => 'editor-textarea', :rows => '20' %>
      </div>
      <div id="preview-wrapper">
      </div>

      <div class="form-button-wrapper">
        <%= f.submit %>
      </div>

    </div>
  <% end %>
</div>
